<div class="injection-container">
  <app-navbar [title]="title" [subtitle]="subtitle"></app-navbar>


  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type='number' matInput placeholder="Dosis" formControlName="value">
    </mat-form-field>


    <mat-form-field>
      <input type='time' matInput placeholder="Hora" formControlName="time">
    </mat-form-field>

    <mat-form-field>
      <input type='date' matInput placeholder="Fecha" formControlName="date">
    </mat-form-field>

    <mat-radio-group formControlName="injectionType">
      <mat-radio-button value="basal ">Basal</mat-radio-button>
      <mat-radio-button value="quick">Rapida</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>

      <textarea matInput placeholder="Descripción (opcional)" formControlName="description"> </textarea>
    </mat-form-field>


    <div class="footer-buttons">
      <div class="footer-buttons-subcontainer">
        <button *ngIf='this.currentEdit' (click)='delete()' type="button" mat-raised-button>Borrar</button>
        <button [routerLink]="['/camperDetail/'+idCampist]" type="button" mat-raised-button>Cancelar</button>
        <button *ngIf='!this.currentEdit' [disabled]="!form.valid" mat-raised-button>Agregar</button>
        <button *ngIf='this.currentEdit' [disabled]="!form.valid" mat-raised-button>Guardar</button>

      </div>
    </div>

  </form>

</div>