<div class="background-app app-campers-list">
  <app-navbar class="app-navbar" [title]="'Lista de Campistas'"></app-navbar>
  <div class="campers-list mat-elevation-z9">
    <div class="header-search-field">
      <mat-form-field class="filter-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Encuentre un campista">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" [ngClass]="'campers-table'">
      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef [ngClass]="'first-col-header'"></mat-header-cell>
        <mat-cell [ngStyle]="{backgroundColor: element.group}" [ngClass]="'first-col'" *matCellDef="let element">&nbsp;</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
        </mat-cell>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef>
          Edad
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.age}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row [ngStyle]="{paddingLeft: 0}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <ngc-float-button
      icon="add"
      color="{{'#009688'}}"
      direction="{{'left'}}"
      style="position: fixed;bottom: 14px;right: 14px;"
    >
      <ngc-float-item-button icon="person_add" content="float item 1"></ngc-float-item-button>
      <ngc-float-item-button icon="gps_fixed" content="float item 2"></ngc-float-item-button>
      <ngc-float-item-button icon="mode_edit" content="float item 3"></ngc-float-item-button>
    </ngc-float-button>
  </div>
</div>
