.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.campers-table {
  margin: 0 14px;
  .first-col-header {
    max-width: 10px;
    min-width: 10px;
    margin-right: 20px;
  }
  .first-col {
    max-width: 10px;
    min-width: 10px;
    margin-right: 20px;
    height: 48px
  }
}
