<div class="add-camper">
  <app-navbar isGoingBack="true" [title]="title" [subtitle]="subtitle"></app-navbar>
  <div class="add-camper-form">
    <form [formGroup]="foodForm" novalidate>
      <div class="form-1">
        <div formGroupName="foodTable">

          <div class="form-row">
            <p>Desayuno</p>

            <div class="form-group-item" formGroupName="carb">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="Carbs">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="prot">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="Prot">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="frut">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="Frut">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="lact">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="Lact">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Merienda</p>

            <div class="form-group-item" formGroupName="carb">
              <mat-form-field class="full-width">
                <input formControlName="MorningSnack" type="number" min="0" max="250" matInput placeholder="Carbs">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="prot">
              <mat-form-field class="full-width">
                <input formControlName="MorningSnack" type="number" min="0" max="250" matInput placeholder="Prot">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="frut">
              <mat-form-field class="full-width">
                <input formControlName="MorningSnack" type="number" min="0" max="250" matInput placeholder="Frut">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="lact">
              <mat-form-field class="full-width">
                <input formControlName="MorningSnack" type="number" min="0" max="250" matInput placeholder="Lact">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Almuerzo</p>

            <div class="form-group-item" formGroupName="carb">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="Carbs">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="prot">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="Prot">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="frut">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="Frut">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="lact">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="Lact">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Merienda</p>

            <div class="form-group-item" formGroupName="carb">
              <mat-form-field class="full-width">
                <input formControlName="AfternoonSnack" type="number" min="0" max="250" matInput placeholder="Carbs">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="prot">
              <mat-form-field class="full-width">
                <input formControlName="AfternoonSnack" type="number" min="0" max="250" matInput placeholder="Prot">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="frut">
              <mat-form-field class="full-width">
                <input formControlName="AfternoonSnack" type="number" min="0" max="250" matInput placeholder="Frut">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="lact">
              <mat-form-field class="full-width">
                <input formControlName="AfternoonSnack" type="number" min="0" max="250" matInput placeholder="Lact">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Cena</p>

            <div class="form-group-item" formGroupName="carb">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="Carbs">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="prot">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="Prot">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="frut">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="Frut">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="lact">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="Lact">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Merienda</p>

            <div class="form-group-item" formGroupName="carb">
              <mat-form-field class="full-width">
                <input formControlName="BeforeSleep" type="number" min="0" max="250" matInput placeholder="Carbs">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="prot">
              <mat-form-field class="full-width">
                <input formControlName="BeforeSleep" type="number" min="0" max="250" matInput placeholder="Prot">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="frut">
              <mat-form-field class="full-width">
                <input formControlName="BeforeSleep" type="number" min="0" max="250" matInput placeholder="Frut">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="lact">
              <mat-form-field class="full-width">
                <input formControlName="BeforeSleep" type="number" min="0" max="250" matInput placeholder="Lact">
              </mat-form-field>
            </div>

          </div>
        </div>
      </div>

      <div class="button-row">
        <div>
          <button (click)="goBack($event)" mat-raised-button color="primary">Anterior</button>
          <button [disabled]="!foodForm.valid" (click)="save($event)" mat-raised-button color="primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>