<div class="add-camper">
  <app-navbar [title]="title" [subtitle]="subtitle"></app-navbar>
  <div class="add-camper-form">
    <div class="form-1">
      <div class="form-row">
        <p>Desayuno</p>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Carbs">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Prot">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Frut">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Lact">
        </mat-form-field>

      </div>

      <div class="form-row">
        <p>Merienda</p>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Carbs">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Prot">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Frut">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Lact">
        </mat-form-field>

      </div>

      <div class="form-row">
        <p>Almuerzo</p>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Carbs">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Prot">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Frut">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Lact">
        </mat-form-field>

      </div>

      <div class="form-row">
        <p>Merienda</p>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Carbs">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Prot">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Frut">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Lact">
        </mat-form-field>

      </div>

      <div class="form-row">
        <p>Cena</p>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Carbs">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Prot">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Frut">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Lact">
        </mat-form-field>

      </div>

      <div class="form-row">
        <p>Merienda</p>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Carbs">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Prot">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Frut">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" min="0" max="250" matInput placeholder="Lact">
        </mat-form-field>

      </div>
    </div>

    <div class="button-row">
      <button mat-raised-button color="primary">Anterior</button>
      <button mat-raised-button color="primary">Siguiente</button>
    </div>
  </div>
