<div class="add-camper">
  <app-navbar [title]="title" [subtitle]="subtitle"></app-navbar>
  <div class="add-camper-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Apellido">
    </mat-form-field>

    <div class="full-width">
      <mat-form-field class="half-width">
        <input matInput placeholder="Edad">
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput placeholder="Peso">
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <mat-select placeholder="Seleccione el equipo">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Medicamentos"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Alergias"></textarea>
    </mat-form-field>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary">Cancelar</button>
    <button mat-raised-button color="primary">Siguiente</button>
  </div>
</div>
