<div class="add-camper">
  <app-navbar [isGoingBack] = 'true' [backFunction]= 'goBack' [title]="title" [subtitle]="subtitle"></app-navbar>
  <div class="add-camper-form">
    <form [formGroup]="basicsForm" novalidate>
      <mat-form-field class="full-width">
        <input formControlName="names" matInput placeholder="Nombre">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="lastNames" matInput placeholder="Apellido">
      </mat-form-field>

      <div class="full-width">
        <mat-form-field class="half-width">
          <input type="number" formControlName="age" matInput placeholder="Edad">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input type="number" formControlName="weight" matInput placeholder="Peso">
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <mat-select formControlName="team" placeholder="Seleccione el equipo">
          <mat-option value="morado">morado</mat-option>
          <mat-option value="verde">verde</mat-option>
          <mat-option value="azul">azul</mat-option>
          <mat-option value="amarillo">amarillo</mat-option>
          <mat-option value="rojo">rojo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea formControlName="medications" matInput placeholder="Medicamentos"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea formControlName="allergies" matInput placeholder="Alergias"></textarea>
      </mat-form-field>
      <div class="button-row">
        <div>
          <button (click)="goBack($event)" mat-raised-button color="primary">Cancelar</button>
          <button [disabled]="!basicsForm.valid" (click)="next($event)" mat-raised-button color="primary">Siguiente</button>
        </div>
      </div>
    </form>
  </div>
</div>