<div class="add-camper">
  <app-navbar isGoingBack="true" [title]="title" [subtitle]="subtitle"></app-navbar>
  <div class="choose-option">
    <mat-radio-group>
      <mat-radio-button checked (change)="toogleView($event)" class="option-item" labelPosition="before" value="1">Escalas</mat-radio-button>
      <mat-radio-button (change)="toogleView($event)" class="option-item" labelPosition="before" value="2">Ratios</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="add-camper-form">
    <form [formGroup]="esquemaForm" novalidate>
      <div *ngIf="valueChecked === '1'" class="form-1">
        <div formGroupName="insulinSchemeInterval">
          <div class="form-row">
            <p>Desayuno</p>

            <div class="form-group-item" formGroupName="<80">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="<80">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="81-160">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="81-160">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="161-250">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder="161-250">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName=">250">
              <mat-form-field class="full-width">
                <input formControlName="Breakfast" type="number" min="0" max="250" matInput placeholder=">250">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Almuerzo</p>

            <div class="form-group-item" formGroupName="<80">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="<80">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="81-160">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="81-160">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="161-250">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder="161-250">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName=">250">
              <mat-form-field class="full-width">
                <input formControlName="Lunch" type="number" min="0" max="250" matInput placeholder=">250">
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <p>Cena</p>

            <div class="form-group-item" formGroupName="<80">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="<80">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="81-160">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="81-160">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName="161-250">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder="161-250">
              </mat-form-field>
            </div>

            <div class="form-group-item" formGroupName=">250">
              <mat-form-field class="full-width">
                <input formControlName="Diner" type="number" min="0" max="250" matInput placeholder=">250">
              </mat-form-field>
            </div>

          </div>

          <mat-form-field class="full-width">
            <textarea formControlName="comments" matInput placeholder="Comentarios"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="valueChecked === '2'" class="form-2">
        <div formGroupName="insulinSchemeRatio">
          <div class="form-row">
            <p>Ratios</p>

            <mat-form-field class="full-width">
              <input formControlName="Breakfast" matInput placeholder="Desayuno">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input formControlName="Lunch" matInput placeholder="Almuerzo">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input formControlName="Diner" matInput placeholder="Cena">
            </mat-form-field>

          </div>

          <mat-form-field class="full-width">
            <textarea formControlName="correctionFactor" matInput placeholder="Factor de correción"></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea formControlName="comment" matInput placeholder="Comentarios"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="button-row">
        <button (click)="goBack($event)" mat-raised-button color="primary">Anterior</button>
        <button [disabled]="!esquemaForm.valid" (click)="next($event)" mat-raised-button color="primary">Siguiente</button>
      </div>
    </form>
  </div>
</div>
