.camperDetail {
  background-color: #e8f0f0;
  min-height: 100vh;
  .mat-tab-label .mat-ripple .mat-tab-label-active .ng-star-inserted {
    background: black;
  }
  .fakeHeader {
    height: 3em;
    width: 100%;
    background-color: #009688;
  }
  .topData {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    border-bottom: 1px solid #979797;
    .topDataColumn {
      text-align: center;
      width: 33%;
      padding: 4%;
      .topDataColumValue {
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 0.2em;
      }
      .topDataColumLabel {
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .bottomData {
    padding: 3% 2% 3% 2%;
    .camperAcordeon {
      margin-bottom: 1em; // background-color: #ffffff;
      display: block;
      .dropTitle {
        font-weight: bold;
      }
    }
    table {
      width: 100%;
    }
    .insulinScheme {
      border-bottom: 1px solid #979797;
      padding-bottom: 2em;
      margin-bottom: 0.5em;
    }
    .inlineLabel {
      display: inline;
    }
    .inlineValue {
      display: inline;
      margin-left: 20px;
    }
    .schemeCommentLabel {
      margin-bottom: 1em;
    }
    .schemeCommentText {
      color: rgba(0, 0, 0, 0.8);
    }
    .acceptButton {
      background-color: #009688;
      color: #fff;
    }
    #deleteCamperButton {
      transition: all 0.5s ease;
    }
  }
  #deleteCamperButton {
    transition: all 0.5s ease;
  }
  .tl {
    width: 50% !important;
  }
}

::ng-deep .mat-tab-label {
  min-width: 0px; // added
  width: 50%;
  height: 42px;
  border-radius: 3px;
  color: white;
}

::ng-deep .mat-tab-labels {
  display: flex;
  background-color: #24a99b;
  border-top: initial;
  margin-top: -2px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #54441a;
}

// Tables style
table {
  width: 100%;
}

th {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

td {
  text-align: right;
  font-size: 14px;
  font-weight: 300;
}

.first-colum {
  width: 30px;
}

.table-container {
  padding-right: 10px;
}

.cards-day-body {
  padding: 20px 7px;
}

.card-day {
  background-color: white;
  object-fit: contain;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-day-header {
  border: solid 1px rgba(0, 0, 0, 0.35);
  background-color: #b8e3de;
  padding: 4px 20px;
  color: rgba(0, 0, 0, 0.6);
}

.card-day-log {
  border: solid 1px rgba(0, 0, 0, 0.35);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .log-left {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    p {
      font-weight: 300;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .log-right {
    font-size: 1.1em;
  }
}
