.camperDetail {
    background-color: #E8F0F0;
    //background-color: #38a297;
    height: 100vh;
    // padding: 3% 2% 3% 2%;
    .mat-tab-label
    .mat-ripple
    .mat-tab-label-active
    .ng-star-inserted {
        background: black;
    }
    .fakeHeader {
        height: 3em;
        width: 100%;
        background-color: #009688;
    }      
    .topData {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        border-bottom: 3px solid #979797;
        .topDataColumn {
            text-align: center;
            width: 33%;
            padding: 4%;
            .topDataColumValue {
                font-weight: bold;
                font-size: 1.1em;
                margin-bottom: 0.2em;
            }
            .topDataColumLabel {
                font-size: 0.8em;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    .bottomData {
        padding: 3% 2% 3% 2%;
        .camperAcordeon{
            margin-bottom: 1em;
            // background-color: #ffffff;
            display: block;
            .dropTitle {
                font-weight: bold;
            }
        }
        // .mat-expansion-panel:not([class*=mat-elevation-z]) {
        //     box-shadow: none !important;
        //     border-bottom: 1px solid black;
        // }
        // .lastExpansion {
        //     border-bottom: none !important;
        // }
        .acceptButton {
            background-color: #009688;
            color: #fff;
        }
        #deleteCamperButton {
            transition: all 0.5s ease;
        }
    }
    .tl {
        width: 50% !important;
    }
}

::ng-deep .mat-tab-label {
    min-width : 0px; // added
     width: 50%;
     height: 42px;
     border-radius: 3px;
     color: white;
} 

::ng-deep .mat-tab-labels {
    display: flex;
    background-color: #009688;
    border-top: initial;
    margin-top: -2px;
}