<div class="camperDetail" >
  <app-navbar [backFunction]='goBack' class="app-navbar" [title]="userName" [isGoingBack]="true"></app-navbar>
  <mat-tab-group *ngIf="camper" class="camperDetailTabs">
    <mat-tab label="Información General">
      <div class="topData">
        <div class="topDataColumn">
          <p class="topDataColumValue">{{camper.age}}</p>
          <p class="topDataColumLabel">años</p>
        </div>
        <div class="topDataColumn">
          <p class="topDataColumValue">{{camper.weight}}</p>
          <p class="topDataColumLabel">kilos</p>
        </div>
        <div class="topDataColumn">
          <p class="topDataColumValue">{{camper.team}}</p>
          <p class="topDataColumLabel">equipo</p>
        </div>
      </div>
      <div class="bottomData" (click)="checkCancelDelete($event)">
          <mat-accordion class="camperAcordeon">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="dropTitle">
                    Esquema de insulina
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="camper.insulinSchemeInterval != null" style="border-bottom: 1px solid #979797;padding-bottom: 2em;">
                  <table style="width:100%;">
                    <tr style="text-align:right">
                      <th></th>
                      <th>Desayuno</th>
                      <th>Almuerzo</th>
                      <th>Cena</th>
                    </tr>
                    <tr style="text-align:right">
                      <th><80</th>
                      <td>{{camper.insulinSchemeInterval["<80"].Breakfast}}</td>
                      <td>{{camper.insulinSchemeInterval["<80"].Diner}}</td>
                      <td>{{camper.insulinSchemeInterval["<80"].Lunch}}</td>
                    </tr>
                    <tr style="text-align:right">
                      <th>81-160</th>
                      <td>{{camper.insulinSchemeInterval["81-160"].Breakfast}}</td>
                      <td>{{camper.insulinSchemeInterval["81-160"].Diner}}</td>
                      <td>{{camper.insulinSchemeInterval["81-160"].Lunch}}</td>
                    </tr>
                    <tr style="text-align:right">
                      <th>161-250</th>
                      <td>{{camper.insulinSchemeInterval["161-250"].Breakfast}}</td>
                      <td>{{camper.insulinSchemeInterval["161-250"].Diner}}</td>
                      <td>{{camper.insulinSchemeInterval["161-250"].Lunch}}</td>
                    </tr>
                    <tr style="text-align:right">
                      <th>>250</th>
                      <td>{{camper.insulinSchemeInterval[">250"].Breakfast}}</td>
                      <td>{{camper.insulinSchemeInterval[">250"].Diner}}</td>
                      <td>{{camper.insulinSchemeInterval[">250"].Lunch}}</td>
                    </tr>
                  </table>
                </div>
                <div *ngIf="camper.insulinSchemeRatio != null" style="margin-bottom: 1em;">
                  <div class="insulinScheme">
                    <table>
                        <tr style="text-align:right">
                          <th></th>
                          <th>Desayuno</th>
                          <th>Almuerzo</th>
                          <th>Cena</th>
                        </tr>
                        <tr style="text-align:right">
                          <th>Ratio</th>
                          <td>{{camper.insulinSchemeRatio.Breakfast}}</td>
                          <td>{{camper.insulinSchemeRatio.Lunch}}</td>
                          <td>{{camper.insulinSchemeRatio.Diner}}</td>
                        </tr>
                      </table>
                  </div>
                  <div>
                    <p class="inlineLabel">Factor de correción</p>
                    <p class="inlineValue">{{camper.insulinSchemeRatio.correctionFactor}}</p>
                  </div>
                </div>
                <div *ngIf="camper.insulinSchemeInterval">
                  <p>Comentarios</p>
                  <p>{{camper.insulinSchemeInterval.comments}}</p>
                </div>
                <div *ngIf="camper.insulinSchemeRatio" style="margin-bottom: 10;">
                  <p>Comentarios</p>
                  <p>{{camper.insulinSchemeRatio.comment}}</p>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="dropTitle">
                    Medicamentos Adicionales
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{camper.medications}}</p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="dropTitle">
                    Alergias
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{camper.allergies}}</p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="dropTitle">
                    Insulina Basal
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="camper.basalInsulin != null">
                  <table>
                    <tr style="text-align:right">
                      <th>Hora</th>
                      <th>Dosis</th>
                    </tr>
                    <tr style="text-align:right" *ngIf="camper.basalInsulin['first-application'] != null">
                      <td>{{camper.basalInsulin["first-application"].time}}</td>
                      <td>{{camper.basalInsulin["first-application"].dosage}}</td>
                    </tr>
                    <tr style="text-align:right" *ngIf="camper.basalInsulin['second-application'] != null">
                      <td>{{camper.basalInsulin["second-application"].time}}</td>
                      <td>{{camper.basalInsulin["second-application"].dosage}}</td>
                    </tr>
                  </table>
                </div>
                <div *ngIf="camper.basalInsulin == null">
                  <p>{{basalInsulin}}</p>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel class="lastExpansion" *ngIf="camper && camper.foodTable">
                <mat-expansion-panel-header>
                  <mat-panel-title class="dropTitle">
                    Porciones de Alimentos
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <table >
                    <tr>
                      <th class="first-colum"> </th>
                      <th>Carbs</th>
                      <th>Prot</th>
                      <th>Fruta</th>
                      <th>Láct</th>
                    </tr>
                    <tr >
                      <th class="first-colum">Desayuno</th>
                      <td>{{camper.foodTable.carb.Breakfast}}</td>
                      <td>{{camper.foodTable.prot.Breakfast}}</td>
                      <td>{{camper.foodTable.fruta.Breakfast}}</td>
                      <td>{{camper.foodTable.lact.Breakfast}}</td>
                    </tr>
                    <tr >
                      <th class="first-colum">Merienda</th>
                      <td>{{camper.foodTable.carb.MorningSnack}}</td>
                      <td>{{camper.foodTable.prot.MorningSnack}}</td>
                      <td>{{camper.foodTable.fruta.MorningSnack}}</td>
                      <td>{{camper.foodTable.lact.MorningSnack}}</td>
                    </tr>
                    <tr>
                      <th class="first-colum">Almuerzo</th>
                      <td>{{camper.foodTable.carb.Lunch}}</td>
                      <td>{{camper.foodTable.prot.Lunch}}</td>
                      <td>{{camper.foodTable.fruta.Lunch}}</td>
                      <td>{{camper.foodTable.lact.Lunch}}</td>
                    </tr>
                    <tr >
                      <th class="first-colum">Merienda</th>
                      <td>{{camper.foodTable.carb.AfternoonSnack}}</td>
                      <td>{{camper.foodTable.prot.AfternoonSnack}}</td>
                      <td>{{camper.foodTable.fruta.AfternoonSnack}}</td>
                      <td>{{camper.foodTable.lact.AfternoonSnack}}</td>
                    </tr>
                    <tr >
                      <th class="first-colum">Cena</th>
                      <td>{{camper.foodTable.carb.Diner}}</td>
                      <td>{{camper.foodTable.prot.Diner}}</td>
                      <td>{{camper.foodTable.fruta.Diner}}</td>
                      <td>{{camper.foodTable.lact.Diner}}</td>
                    </tr>
                    <tr >
                      <th class="first-colum">Merienda</th>
                      <td>{{camper.foodTable.carb.BeforeSleep}}</td>
                      <td>{{camper.foodTable.prot.BeforeSleep}}</td>
                      <td>{{camper.foodTable.fruta.BeforeSleep}}</td>
                      <td>{{camper.foodTable.lact.BeforeSleep}}</td>
                    </tr>
                  </table>
              </mat-expansion-panel>
          </mat-accordion>
          <button mat-raised-button id="deleteCamperButton" class="deleteCamperButton" color="warn" (click)="deleteCamper(camper.id)" [style.width]="deleteButtonWidth">{{errorButtonMessage}}</button>
          <button (click)="editCamper(camper.id)" mat-raised-button class="acceptButton">EDITAR</button>
      </div>
    </mat-tab>
    <mat-tab label="Diario">
      <div class="cards-day-body">
        <div class="card-day" *ngFor="let day of logs">
            <div class="card-day-header">{{day[0].date | date}}</div>
            <div class="card-day-log" *ngFor="let log of day">
              <div class="log-left">
                <ng-container *ngIf="log.logType==='measure'">
                  Glucemia | {{foodTime[log.foodTime]}}
                </ng-container>
                <ng-container *ngIf="log.logType==='inyectable'">
                  Dosis | {{log.type=='quick'&&' Insulina Rápida'||'Insulina Lenta'}}
                </ng-container>
                <ng-container *ngIf="log.logType==='food'">
                  Comida | {{snackType[log.type]}}
                </ng-container>
                <p>
                    {{log.date.toTimeString().substring(0, 5)}}
                </p>
              </div>
              <div class="log-right">
                  <ng-container *ngIf="log.logType==='measure'">
                      {{log.value}} mg/dL
                    </ng-container>
                    <ng-container *ngIf="log.logType==='inyectable'">
                      {{log.value}} U
                    </ng-container>
                    <ng-container *ngIf="log.logType==='food'">
                      {{log.value}} g
                    </ng-container>
              </div>
            </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <ngc-float-button icon="add" color="{{'#009688'}}" direction="left" style="position: fixed;bottom: 46px;right: 36px;z-index: 2;" (events)="openFloat($event)">
      <ngc-float-item-button
        (click)="openNewMedition()"
        color="#009688"
        image="/assets/medition.svg"
        content="Mediciones"></ngc-float-item-button>
      <ngc-float-item-button
        (click)="openNewInjection()"
        color="#009688"
        image="/assets/injection.svg"
        content="Inyecciones"
        (click)="openNewInjection"></ngc-float-item-button>
      <ngc-float-item-button
        color="#009688"
        image="/assets/food.svg"
        content="Comida"
        (click)="openNewFood()"></ngc-float-item-button>
    </ngc-float-button>
</div>
