.navbar {
  background-color: #24a99b;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;

  .navbar-content {
    margin-left: 15px;
    .navbar-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 6px;
      color: rgba(255, 255, 255, 0.6);
    }
    .navbar-subtitle {
      font-size: 14px;
      font-weight: bold;
      padding-top: 5px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
