<div class="add-camper">
  <app-navbar [isGoingBack] = 'true' [backFunction]= 'goBack' [title]="title" [subtitle]="subtitle"></app-navbar>
  <div class="choose-option">
    <p>Utiliza más de una dosis basal por día?</p>
    <mat-slide-toggle (change)="toogleView($event)" [color]="color" [checked]="checked">
    </mat-slide-toggle>
  </div>
  <div class="add-camper-form">
    <form [formGroup]="dosisForm" novalidate>
      <div formGroupName="basalInsulin">
        <div >
          <div formGroupName="first-application" class="form-1">
            <p  *ngIf="!isChecked" >Aplicación</p>
            <p  *ngIf="isChecked" >Primera aplicación</p>
            <mat-form-field class="full-width">
              <input formControlName="time" type="time" matInput placeholder="Hora">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input formControlName="dosage" type="number" matInput placeholder="Dosis">
            </mat-form-field>
          </div>
          <div  formGroupName="second-application" *ngIf="isChecked" class="form-2">
              <p>Segunda aplicación</p>
              <mat-form-field class="full-width">
                <input formControlName="time" type="time" matInput placeholder="Hora">
              </mat-form-field>
  
              <mat-form-field class="full-width">
                <input formControlName="dosage" type="number" matInput placeholder="Dosis">
              </mat-form-field>
            </div>
        </div>


      </div>

      <div class="button-row">
        <div>
          <button (click)="goBack($event)" mat-raised-button color="primary">Anterior</button>
          <button [disabled]="!dosisForm.valid" (click)="next($event)" mat-raised-button color="primary">Siguiente</button>
        </div>
      </div>
    </form>
  </div>
</div>