/* ••••••••••••••••••••••••••••••••••••••••••• */
/* ••   SAC client RequestList  styling     •• */
/* ••••••••••••••••••••••••••••••••••••••••••• */

/* ––––––––––––––––– VARIABLES ––––––––––––––––– */
// @import "../../../../style/sac.base";

/* ––––––––––––––––– VARIABLES ––––––––––––––––– */

// Colors
$soft-border-color: #979797;
$dropdown-background-color: #FFFFFF;
$item-over-color: #F1F3F5;
$soft-font-color: #727475;
$content-header-color: #AAADB0;

$input-color: #000000;
$input-back-color: #FFFFFF;
$input-border-color: #CCCCCC;
$placeholder-color: #9F9F9F;

// List padding
$content-padding: .425em;
$select-width: 70%;

// Transitions
$soft-bezier: cubic-bezier(0.25, 0.8, 0.25, 1);

/* ––––––––––––––––– GENERAL ––––––––––––––––– */

/* ––––––––––––––––– BLOCK_LABELS ––––––––––––––––– */

.search-block /deep/ [search-label], .selected-block /deep/ [selected-label] {
    display: block;

    margin-bottom: .325em;

    font-size: 1.075em;
    color: $soft-font-color;
}

/* ––––––––––––––––– SEARCH SECTION ––––––––––––––––– */

.search-block {
    position: relative;
    margin-bottom: .75em;
}

input {
    width: 100%;

    padding: 0 .8em;
    border-radius: 5px;
    border: 1px solid $input-border-color;
    line-height: 2.7;

    color: $input-color;
    background-color: $input-back-color;

    &::-webkit-input-placeholder {
        color: $placeholder-color;
        font-weight: 300; 
        font-style: italic;
    } 
    
    &:-moz-placeholder {
        color: $placeholder-color;
        font-weight: 300; 
        font-style: italic;
    }
    
    &::-moz-placeholder {
        color: $placeholder-color;
        font-weight: 300; 
        font-style: italic;
    } 
    
    &:-ms-input-placeholder {
        color: $placeholder-color;
        font-weight: 300; 
        font-style: italic;
    }
}

/* ––––––––––––––––– DROPDOWN ––––––––––––––––– */

.dropdown {
    position: absolute;
    top: 102.5%;
    left: 0;

    z-index: 2;
    overflow-y: auto;
    max-height: 300px;
    width: $select-width;

    box-shadow: 0 8px 12px rgba(0,0,0,.13);
    transform-origin: center top;

    background-color: $dropdown-background-color;

    & > header {
        padding: $content-padding * 1.35 $content-padding * 2.5;
        color: $content-header-color;
        font-size: .935em;
        font-weight: 300;
    }
}

/* ––––––––––––––––– DROPDOWN ITEM ––––––––––––––––– */

.dropdown-item {

    padding: $content-padding * 1.5 $content-padding * 2.5;
    cursor: pointer;
    
    transition: background-color .26s $soft-bezier;
    will-change: background-color;

    &.highlighted {
        background-color: $item-over-color;
    }
}

/* ––––––––––––––––– SELECTED ITEMS ––––––––––––––––– */

.selected-items {
    width: 100%;
}

.selected-item {
    display: inline-flex;
    align-items: center;
    
    padding: .4em .7em;
    margin-right: 5px;
    margin-bottom: 3px;

    border-radius: 3px;
    border: 1px solid $soft-border-color;

    .selected-item__label {
        flex-shrink: 0;
        font-size: 1.075em;
        color: $soft-font-color;

    }

    .remove-section {
        width: 30px;
        text-align: right;
        cursor: pointer;
        font-size: .93em;
    }
}

.empty-hints {
    padding: .4em .4em 1em;
    text-align: center;
}