<div class="custom-select">
    <header (click)="toggleDropdown($event)">
        <div class="header-content">
            <ng-content select="[header-label]"></ng-content>
            <ng-content select="[header-empty]" *ngIf="!(multipleSelection || selectedItem)"></ng-content>
            <span *ngIf="!multipleSelection && selectedItem">{{selectedItem.value}}</span>
            <ng-content select="[header-multiple]" *ngIf="multipleSelection"></ng-content>    
        </div>
        <i class="icon-arrow_down"></i>
    </header>
    <div class="dropdown-container" [@openState]="dropdownState">
        <header [class.fixed]="fixedItem">
            <div class="header-label">
                <ng-content select="[content-label]"></ng-content>    
            </div>
            <div class="item" [class.selected]="fixedItem.selected" *ngIf="fixedItem" (click)="selectItem(fixedItem)">
                {{ fixedItem.value }}
            </div>
        </header>
        <div class="items-container">
            <div class="item" [class.selected]="item.selected"
            *ngFor="let item of dynamicItems"
            (click)="selectItem(item)">
                {{ item.value }}
            </div>
        </div>
        <div class="empty-message" [hidden]="fixedItem || dynamicItems.length">
            <ng-content select="[empty-message]"></ng-content>
        </div>
    </div>
</div>